<div class="sidebar text-white p-3 flex flex-column"
     [class.active]="isOpen">

  <!-- Botón cerrar -->
  <div class="flex justify-content-between align-items-center mb-5">

    <img src="upc_logo.png" alt="Logo" class="logo" width="40px">

    <h4 class="m-0">Menú</h4>

    <button pButton
            icon="pi pi-times"
            class="p-button-text p-button-plain"
            (click)="closeSidebar()">
    </button>

  </div>

  <ul class="list-none p-0 m-0 flex flex-column gap-2">

    <li class="sidebar-item-container" routerLinkActive="active">
      <a routerLink="/home"
         (click)="closeSidebar()"
         class="sidebar-item flex align-items-center gap-2 p-2 border-round">
        <i class="pi pi-home"></i>
        <span>Home</span>
      </a>
    </li>

    @if (isAdmin) {
      <li class="sidebar-item-container" routerLinkActive="active">
        <a routerLink="/user"
           (click)="closeSidebar()"
           class="sidebar-item flex align-items-center gap-2 p-2 border-round">
          <i class="pi pi-users"></i>
          <span>Usuarios</span>
        </a>
      </li>
    }

    <li class="sidebar-item-container" routerLinkActive="active">
      <a routerLink="/customer"
         (click)="closeSidebar()"
         class="sidebar-item flex align-items-center gap-2 p-2 border-round">
        <i class="pi pi-briefcase"></i>
        <span>Clientes</span>
      </a>
    </li>

    <li class="sidebar-item-container" routerLinkActive="active">
      <a routerLink="/product"
         (click)="closeSidebar()"
         class="sidebar-item flex align-items-center gap-2 p-2 border-round">
        <i class="pi pi-box"></i>
        <span>Productos</span>
      </a>
    </li>

  </ul>

</div>
