<div class="flex h-screen flex-column md:flex-row">

  <!-- Imagen izquierda (50% pantalla en desktop, oculta en mobile) -->
  <div class="hidden md:flex w-6">
    <img src="sales_bg.jpg"
         alt="Background"
         class="w-full h-full object-cover"/>
  </div>

  <!-- Formulario derecha -->
  <div class="flex flex-1 w-full md:w-6 justify-content-center align-items-center p-5"
       id="form-container">

    <div class="surface-card shadow-2 border-round p-5 w-full" style="max-width: 25rem">

      <!-- Header del login -->
      <div class="flex flex-column align-items-center mb-4">
        <img src="upc_logo.png"
             alt="Logo"
             class="mb-3"
             style="width: 120px;">
        <h2 class="m-0">Bienvenido</h2>
        <span class="text-600 mt-1">Ingresa tus credenciales para continuar</span>
      </div>

      <p-divider></p-divider>

      <!-- Formulario -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">

        <div class="flex flex-column gap-2">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-user"></i>
            </p-inputgroup-addon>

            <p-floatlabel variant="in">
              <input pInputText
                     id="user_field"
                     autocomplete="off"
                     formControlName="username"
                     [invalid]="isInvalid('username')"
              />
              <label for="user_field">Usuario</label>
            </p-floatlabel>
          </p-inputgroup>

          @if (isInvalid('username')) {
            <p-message severity="error" size="small" variant="simple">
              El usuario es obligatorio.
            </p-message>
          }
        </div>

        <div class="flex flex-column gap-2">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-key"></i>
            </p-inputgroup-addon>

            <p-floatlabel variant="in">
              <p-password id="password"
                          formControlName="password"
                          autocomplete="off"
                          [feedback]="false"
                          [showClear]="true"
                          [toggleMask]="true"
                          [invalid]="isInvalid('password')"
              ></p-password>
              <label for="name">Contraseña</label>
            </p-floatlabel>
          </p-inputgroup>

          @if (isInvalid('password')) {
            <p-message severity="error" size="small" variant="simple">
              La contraseña es obligatoria.
            </p-message>
          }
        </div>

        <button pButton
                type="submit"
                class="w-full mb-5"
                [loading]="loading()"
        >
          <i class="pi pi-sign-in" pButtonIcon></i>
          <span pButtonLabel>Ingresar</span>
        </button>

      </form>

    </div>

  </div>

</div>

