<p-toolbar class="header-toolbar">

  <!-- IZQUIERDA -->
  <div class="p-toolbar-group-start flex align-items-center gap-3">

    <!-- Botón Sidebar -->
    <button pButton
            type="button"
            icon="pi pi-bars"
            (click)="toggleSidebar()"
            class="p-button-text p-button-plain">
    </button>

    <!-- Logo -->
    <img src="upc_logo.png" alt="Logo" class="logo">

    <span class="app-title">Mini ERP</span>
  </div>


  <!-- DERECHA -->
  <div class="p-toolbar-group-end flex align-items-center gap-5">

    @if (username) {
      <div class="user-info flex align-items-center gap-3">
        <i class="pi pi-user"></i>
        <span>{{ username }}</span>
      </div>
    }

    <button pButton
            type="button"
            icon="pi pi-power-off"
            label="Cerrar sesión"
            class="p-button-danger p-button-sm"
            (click)="logout()">
    </button>

  </div>

</p-toolbar>
